@import './common.less';

.p-debug {
  outline: 1px solid red;
  width: 70vw;
  padding: 16px;
  margin: 40px auto 0;
  overflow: auto;
  position: relative;
  .float {
    float: left;
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  .content {
    outline: 1px solid green;
    display: flow-root;
    height: 100%;
  }
  .scale-wrap {
    .container {
      // width: 200px;
      // height: 200px;
      outline: 1px solid blue;
    }
    .content2 {
      width: 200px;
      height: 200px;
      background-color: brown;
      transform: scale(0.5);
    }
  }
  // vertical
  .vertical-wrap {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: red;
    div {
      width: 100px;
      height: 200px;
      display: inline-block;
      outline: 1px solid blue;
    }
  }
}
