@import './reset.css';
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Courier New Regular', Courier, monospace;
  font-size: 14px;
  line-height: 23px;
}

a {
  // text-decoration: none;
}
.page {
  padding-top: 48px;
}

.page-home-wrap {
  transform: scale(1);
}

.g-desc {
  color: #7f8fa4;
  font-size: 14px;
}

.icon-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44.5px 0 44.5px 118px;
  border-color: transparent transparent transparent blue;
}